<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Viaggio.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".HomeTurista"
            android:exported="false" />
        <activity
            android:name=".esqueceu_senha.EsqueceuSenha"
            android:exported="false" />
        <activity
            android:name=".cadastro_parceiro.CadastroParceiroContainer"
            android:exported="false" />
        <activity
            android:name=".cadastro_user.CadastroUserContainer"
            android:exported="false" />
        <activity
            android:name=".cadastro_user.CadastroUserContainer"
            android:exported="false" />
        <activity
            android:name=".tl_editar_tour"
            android:exported="false" />
        <activity
            android:name=".tl_reservar"
            android:exported="false" />
        <activity
            android:name=".tl_local"
            android:exported="false" />
        <activity
            android:name=".novaSenha"
            android:exported="false" />
        <activity
            android:name=".recuperacaoCod"
            android:exported="false" />
        <activity
            android:name=".recuperacaoSenha"
            android:exported="false" />
        <activity
            android:name=".tl_parceiro"
            android:exported="false"
            android:label="@string/title_activity_tl_parceiro" />
        <activity
            android:name=".tl_index_turista"
            android:exported="false"
            android:label="@string/title_activity_tl_index_turista" />
        <activity
            android:name=".tl_cadastro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>